<h1 class="w3-light-blue"> {{title}} </h1>
<h2 class="w3-light-gray"> {{subtitle}} </h2>
<div class="w3-container">
  <div class="w3-half">
    <!--
      new BmiComponent();      
    -->
    <app-bmi></app-bmi>
  </div>
  <div class="w3-half">
    <!--
        public class CommentComponent{

            public CommentComponent(ClientComment comment)
            {
                this.comment = comment;
            }
        }

    -->
    <!-- CommentComponent è una classe componente di angular e gestisce la logica di un pezzo di pagina web -->
    <!-- ClientComponent è una interfaccia che governa gli oggetti che passo alla classe componente 
         la classe componente li grafica
    -->
    <app-comment [comment]="c1"></app-comment>
    <!-- 
        new CommentComponent(c1);      
    -->    
    <app-comment [comment]="c2"></app-comment>
    <!-- 
        new CommentComponent(c2);      
    -->    
    <app-comment [comment]="c3">
    <!-- 
        new CommentComponent(c3);      
    -->    
    </app-comment>
  </div>
</div>
<!--
    crea un componente app-bmi, che è equivalente al BmiComponente che abbiamo visto prima

-->
